*
{
	box-sizing:border-box;
}

#titleslot
{
	color:#FF7B21;
	font-family:Montserrat;
	font-size:40px;
	left:42%;
	position:absolute;
	top:70px;
}

#box
{
	background-color:red;
	height:100px;
	left:50px;
	position:absolute;
	top:70px;
	width:100px;
}

#playzone
{
	border-color:red;
	border-style:solid;
	border-width:4px;
	height:750px;
	position:absolute;
	top:55px;
	width:80%;
}

#scores
{
	font-family:Montserrat;
	font-size:20px;
	position:absolute;
	top:0%;
	right:20px;
}

#scoor
{
	font-family:Raleway;
	font-size:20px;
	margin-left:80%;
	margin-top:15px;
}

#average
{
	font-family:Montserrat;
	left:40%;
	position:absolute;
}

.startscr
{
	font-family:Montserrat;
}

#startscph
{
	font-size:30px;
	left:10%;
	margin-right:30px;
	position:absolute;
	top:30%;
}

#startbut
{
	font-size:30px;
	left:30%;
	position:absolute;
	top:80%;
}

#missedTitle
{
	left:22%;
	position:absolute;
}

#boxesTitle
{
	left:10%;
	position:absolute;
}

#yeet
{
	left:47%;
	position:absolute;
}

#stopper
{
	left:55%;
	position:absolute;
}

#starter
{
	display:none;
	left:55%;
	position:absolute;
}

.startstuff
{
	font-size:20px;
	position:absolute;
	top:5px;
}

#difficulty
{
	display:none;
}

#blockAmount
{
	display:none;
}

#finalStat
{
	display:none;
}

#game
{
	display:none;
}

#easy
{
	font-size:30px;
	left:37%;
	position:absolute;
	top:200px;
}

#medium
{
	font-size:30px;
	left:37%;
	position:absolute;
	top:300px;
}

#hard
{
	font-size:30px;
	left:37%;
	position:absolute;
	top:400px;
}
#difTitle
{
	position: absolute;
	left:100px;
	top:10%;
}

#howman
{
	left:22%;
	position:absolute;
}

#twenty
{
	font-size:30px;
	left:37%;
	position:absolute;
	top:200px;
}

#thirty
{
	font-size:30px;
	left:37%;
	position:absolute;
	top:300px;
}

#fifty
{
	font-size:30px;
	left:37%;
	position:absolute;
	top:400px;
}
#custom{
	font-size: 30px;
	position: absolute;
	top:500px;
	left:37%;
}
#how{
	position: absolute;
	left: 32%;
	top:28%;
	font-size: 50px;
}
#custom-form{
	position: absolute;
	font-size: 30px;
	left:32%;
	top:38%;
}
#submit{
	position: absolute;
	font-size: 30px;
	left:32%;
	top:48%;
}
#youavg
{
	font-size:30px;
	left:25%;
	position:absolute;
	top:100px;
}

#youhit
{
	font-size:30px;
	left:25%;
	position:absolute;
	top:200px;
}
#youtime{
	position: absolute;
	left:15%;
}
#youscore
{
	font-size:30px;
	left:25%;
	position:absolute;
	top:300px;
}

#playAgain
{
	font-size:30px;
	right:30%;
	position:absolute;
	top:550px;
}

#toolti
{
	left:40%;
	position:absolute;
	top:300px;
}

#survey
{
	font-size:30px;
	left:10%;
	position:absolute;
	text-decoration:none;
	top:400px;
}
#bugs
{
	font-size:30px;
	left:10%;
	position:absolute;
	text-decoration:none;
	top:500px;
}

#title
{
	height:150px;
	width:100%;
	margin-bottom: 20px;
}
#share{
	position: absolute;
	top:0px;
	left:0px;
}
#repoid{
	position: absolute;
	top: 0px;
	left:10%;
}
#userid{
	position: absolute;
	top: 0px;
	left:20%;
}
.customHr
{
	background-color:#ff7f32;
	color:#967f32;
	position: absolute;
	font-size:10px;
	line-height:10px;
	top:25%;
	width:100%;
}
#circle{
	position: absolute;
	height:100px;
	width:100px;
	left:5%;
	top:5%;
	background-color: #7777FF;
	border-radius: 100%;
	display:none;
}
#square{
	position: absolute;
	height:100px;
	width:100px;
	left:60%;
	top:5%;
	background-color: #11CC11;
	border-radius: 0%;
	display:none;
}
#squircle{
	position: absolute;
	height:100px;
	width:100px;
	left:80%;
	top:5%;
	background-color: #FF7777;
	border-radius: 25%;
	display:none;
}
.ng-invalid.ng-dirty{
	border-color: red;
	border-width: 7px;
}
.ng-valid.ng-dirty{
	border-color: #00FF00;
	border-width: 7px;
}
