#box{
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;
  top:70px;
  left:50px;
}
#playzone{
  height:750px;
  width:80%;
  border-style: solid;
  border-color: red;
  border-width: 4px;
  position: absolute;
  top:55px;
}
#scores{
  position: absolute;
  right: 20px;
  font-size: 20px;
  font-family: 'Montserrat';
}
#scoor{
  font-family: 'Raleway';
  margin-left:80%;
  margin-top:10px;
  font-size: 20px
}
#average{
  position: absolute;
  left:40%;
  font-family: 'Montserrat';
}
.startscr{
  font-family: 'Montserrat';
}
#startscph{
  position: absolute;
  left:20%;
  top:200px;
  font-size:20px;
}
#startbut{
  position: absolute;
  left: 30%;
  top: 400px;
}
#missedTitle{
  position: absolute;
  left:22%;
}
#boxesTitle{
  position: absolute;
  left:10%;
}
#yeet{
  position: absolute;
  left:47%;
}
#stopper{
  position: absolute;
  left:66%;
}
#starter{
  display: none;
  position: absolute;
  left:66%;
}
.startstuff{
  position: absolute;
  font-size:20px;
  margin-left: 5px;
  margin-right: 5px;
  top:5px;
}
#difficulty{
  display: none;
}
#blockAmount{
  display: none;
}
#finalStat{
  display: none;
}
#easy{
  position: absolute;
  left: 37%;
  top:200px;
  font-size: 30px;
}
#medium{
  position: absolute;
  left: 37%;
  top:300px;
  font-size: 30px;
}
#hard{
  position: absolute;
  left: 37%;
  top:400px;
  font-size: 30px;
}
#difTitle{
  position: absolute;
  left:50px
}
