#box{
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;
  top:70px;
  left:50px;
}
#playzone{
  height:750px;
  width:80%;
  border-style: solid;
  border-color: red;
  border-width: 4px;
  position: absolute;
  top:55px;
}
#scores{
  position: absolute;
  right: 20px;
  top:5px;
  font-size: 20px;
  font-family: 'Montserrat';
}
#scoor{
  font-family: 'Raleway';
  margin-left:80%;
  margin-top:10px;
  font-size: 20px
}
#average{
  position: absolute;
  top:5px;
  left:40%;
  font-family: 'Montserrat'
}
.startscr{
  font-family: 'Montserrat';
}
#startscph{
  position: absolute;
  left:25%;
  top:200px;
  font-size:20px;
}
#startbut{
  position: absolute;
  left: 35%;
  top: 350px;
}
#missedTitle{
  position: absolute;
  top:5px;
  left:22%;
}
#boxesTitle{
  position: absolute;
  top:5px;
  left:10%;
}
#yeet{
  position: absolute;
  left:47%;
  top:5px;
}
#stopper{
  position: absolute;
  top:5px;
  left:66%;
}
#starter{
  display: none;
  position: absolute;
  top:5px;
  left:66%;
}
